@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ConfigMgmt</h1>
    <p class="lead">Configuration Management Portal.</p>
  
</div>

<div class="row">
    <div class="col-md-8">
        <table cellspacing="0" border="0" width="100%">
            <tr>

                <td>BASIC GUIDELINES:&nbsp;  <br>*&nbsp; Production Deployments are HIGHEST priority.  <br>*&nbsp; All information for each deployment must be noted on the TFS Deployment Request.  <br>*&nbsp; If the date you need is full, deployment must be requested on a prior date.  <br>*&nbsp; Enter Application Name, Team, and Environment of the Deployment. </td>

            </tr>
        </table>
            <h2>Release Calendar Coming Soon</h2>
            <p>
            </p>
</div>
</div>